@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Kumar+One+Outline&family=Monoton&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.card {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: white;
}

p {
  font-family: "Roboto", sans-serif;
}

.upside-down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.right {
  text-align: right;
}
